div .enonce {
    margin: 1em;
    background: #eeeeff;
    border: 1px solid navy;
    border-radius: 1em;
    padding: 1em;
}

li.checked {
    background: rgba(0,255,0,0.1);
    
}

li.unchecked {
    background: rgba(255,0,0,0.1);
    cursor: pointer;    
}

li.undef {
    cursor: pointer;    
}

div.reponse button.hidden {
    display: none;
}

div.reponse button.visible {
    display: box;
    cursor: pointer;    
}

div#valider {
    position: fixed;
    background: rgba(255,255,0,0.2);
    top: 5em;
    right: 10px;
    padding: 1em;
    border: 1px navy solid;
    border-radius: 1em;
    font-size: 120%;
    font-weight: bold;
    box-shadow: 10px 10px 5px grey;
    cursor: pointer;
}

div#resultat{
    max-width: 20em;
    background: lightyellow;
    font-weight: normal;
    padding : 0.8em;
    border: 1px navy solid;
    border-radius: 0.8em;
}

div#resultat.hidden{
    display: none;
}
