<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>..:: E3C-QCM ::..</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="_static/qcm.css" type="text/css" />
    <script type="text/javascript" src="_static/qcm.js">
    </script>
  </head>
  <body>
    <div id="content">
      {{content}}
    </div>
    <div id="valider" onclick="Noter()" title="À cliquer quand on est sûr des réponses">
      Enregistrer les réponses,<br/>pour évaluation
      <div id="resultat" class="hidden">
      </div>
    </div>
  </body>
</html>
