<div class="qcm">
  <div class="enonce">
    <h1>{{qcm.theme}}</h1>
    <h2>{{qcm.sousTheme}}</h2>
    {% for p in qcm.enonce %}
    <p>{{p.toxml()}}</p>
    {% endfor %}
  </div>
  <div class="reponse">
    <ol>
      {% for r in qcm.reponse %}
      <li class="undef" onclick="choixReponse(this)" title="Cliquez sur la bonne réponse">
	{% for p in r %}
	<p>{{p.toxml()}}</p>
	{% endfor %}
      </li>
      {% endfor %}
    </ol>
    <input type="hidden" name="ok" value="{{qcm.bonne}}"/>
    <button class="hidden" onclick="Oubli(this)">Oublier le choix de réponse</button>
  </div>
</div>
